aiofiles==0.8.0
aiohttp==3.8.1
ffmpeg-python==0.2.0
psutil==5.9.1
pyrogram==1.4.16
Pillow==9.1.1
git+https://github.com/galihmrd/pafy-mod@fixed
psycopg2-binary==2.9.3
pytgcalls==3.0.0.dev22
sqlalchemy==1.4.38
TgCrypto==1.2.3
yt-dlp==2022.6.22.1
youtube_search==2.1.0
youtube_search_python==1.6.5
wget==3.2
