aiofiles
ffmpeg-python
pyrogram==1.4.2
Pillow==9.0.1
git+https://github.com/galihmrd/pafy@develop
psycopg2-binary
py-tgcalls==0.8.5
sqlalchemy==1.4.31
TgCrypto==1.2.3
yt-dlp==2022.2.4
youtube_search
wget
